<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.goBackToHomepage()[pri:0, instance:example.HomePage@1d548a08]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:18</td>   <td>1540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.goBackToHomepage()[pri:0, instance:example.HomePage@1d548a08]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:04</td>   <td>-12957</td> <td>&nbsp;</td><td title="&gt;&gt;HomePage.launchBrowser()[pri:0, instance:example.HomePage@1d548a08]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:16</td>   <td>-1164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.register()[pri:0, instance:example.HomePage@1d548a08]">register</td> 
  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:18</td>   <td>651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.support()[pri:0, instance:example.HomePage@1d548a08]">support</td> 
  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:19</td>   <td>2150</td> <td>&nbsp;</td><td title="&lt;&lt;HomePage.terminateBrowser()[pri:0, instance:example.HomePage@1d548a08]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:16</td>   <td>-1174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.verifyHomepageTitle()[pri:0, instance:example.HomePage@1d548a08]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/05/01 13:46:18</td>   <td>645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.verifyHomepageTitle()[pri:0, instance:example.HomePage@1d548a08]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td>main@1331923253</td>   <td></td> </tr>
</table>
