<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:13:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;HomePage.launchBrowser()[pri:0, instance:example.HomePage@6295d394]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:16</td>   <td>20182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.verifyHomepageTitle()[pri:0, instance:example.HomePage@6295d394]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:16</td>   <td>20189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.register()[pri:0, instance:example.HomePage@6295d394]">register</td> 
  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:16</td>   <td>20318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.goBackToHomepage()[pri:0, instance:example.HomePage@6295d394]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:22</td>   <td>26575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.verifyHomepageTitle()[pri:0, instance:example.HomePage@6295d394]">&gt;&gt;verifyHomepageTitle</td> 
<td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:22</td>   <td>26582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.support()[pri:1, instance:example.HomePage@6295d394]">support</td> 
  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:25</td>   <td>28798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePage.goBackToHomepage()[pri:0, instance:example.HomePage@6295d394]">&lt;&lt;goBackToHomepage</td> 
<td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>20/05/01 14:14:26</td>   <td>29855</td> <td>&nbsp;</td><td title="&lt;&lt;HomePage.terminateBrowser()[pri:0, instance:example.HomePage@6295d394]">&lt;&lt;terminateBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667447085</td>   <td></td> </tr>
</table>
